<div>
    <h1>
        Ahmedabad
    </h1>
    <img src="/images/ahmedabad.webp">
    <br>
    <hr>
    <p class="text-start m-5">Ahmedabad, the largest city in Gujarat, is one of the fastest developing cities in India. The city is known for its rich culture and heritage and is home to many historical landmarks. Ahmedabad was named India’s first UNESCO World Heritage City in 2017. The city is also one of India’s most important economic and industrial hubs.
        In recent years, the Government of India has been working on developing smart cities across the country. Ahmedabad is one of the cities that has been selected for this project. The smart city project aims to develop urban infrastructure and services that are sustainable and efficient.</p>

    <div> <a th:href="@{/}" class="btn btn-outline-dark btn-rounded btn-sm m-3" >go back</a></div>
</div>