<div>
    <h1>
        Chennai
    </h1>
    <img src="/images/chennai.webp">
    <br>
    <hr>

    <p class="text-start m-5">Chennai is the capital of Tamil Nadu and one of the four metropolitan cities of India. It is also one of the 38 districts in the state of Tamil Nadu. Chennai is located on the Coromandel Coast of the Bay of Bengal and has a population of over 9 million people. Chennai is a major commercial and cultural centre in South India and is one of the world’s top 50 cities in terms of GDP.

        As the fourth-largest city in India, Chennai has a lot to offer.
        It can be forward-thinking and safe at the same time.
        We think that Chennai has a lot to offer because of its advanced infrastructure, great civic amenities, and full integration with the internet.
        Chennai can be a good example for other smart cities in India to look up to.
        “Chennai is a model for our society and is a great example for a promising and new world of IT.”
        It is the perfect place for your projects, your dreams.
        Every entrepreneur and every high-tech company starts in Chennai.
        We think Chennai will be the best place to live in the next few years.</p>
    <div> <a th:href="@{/}" class="btn btn-outline-dark btn-rounded btn-sm m-3" >go back</a></div>
</div>