
<div class="col d-flex flex-column " align="center">
    <h1 class="mt-2 "> Welcome to SmartCity </h1>

<!--    Smart cities images-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="card "  style="max-width: 992px;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/smartcity1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/smartcity2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/smartcity3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

   <hr>
    <h3 class="heading">Smart Cities</h3>
    <hr>
    <marquee width="60%" direction="left" height="100px">
        Smart Cities Mission was launched by the Hon’ Prime Minister on 25 June, 2015.
        The main objective of the Mission is to promote cities that provide core infrastructure,
        clean and sustainable environment and give a decent quality of life to their citizens through the application of ‘smart solutions’.
        The Mission aims to drive economic growth and improve quality of life through comprehensive work on social, economic,
        physical and institutional pillars of the city. The focus is on sustainable and inclusive development by creation of replicable models which act as
        lighthouses to other aspiring cities. 100 cities have been selected to be developed as Smart Cities through a two-stage competition.

    </marquee>

<!--    bank rates & loans-->
    <div class="card d-flex flex-column justify-content-center cards" >
    <div class="container d-flex flex-column justify-content-center">
        <div class="row">
            <div class=" col-2 card m-3 w-35 h-30" >
                <img src="/images/hyderabad.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hyderabad</h5>
                    <a th:href="@{/hyderabad}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class="  col-2 card m-3 w-35 h-30">
                <img src="/images/mumbai.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mumbai</h5>
                    <a  th:href="@{/mumbai}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class=" col-2 col-none card m-3 w-35 h-30">
                <img src="/images/chennai.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">Chennai</h5>
                    <a  th:href="@{/chennai}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class=" col-2 card m-3 w-35 h-30">
                <img src="/images/coimbatore.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coimbatore</h5>
                    <a  th:href="@{/coimbatore}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class="col-2 card m-3 w-35 h-30">
                <img src="/images/pune.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pune</h5>
                    <a  th:href="@{/pune}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class=" col-2 card m-3 w-35 h-30" >
                <img src="/images/ahmedabad.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ahmedabad</h5>
                    <a  th:href="@{/ahmedabad}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class="  col-2 card m-3 w-35 h-30">
                <img src="/images/amritsar.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Amritsar</h5>
                    <a  th:href="@{/amritsar}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class=" col-2 col-none card m-3 w-35 h-30">
                <img src="/images/bhopal.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">Bhopal</h5>
                    <a  th:href="@{/bhopal}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class=" col-2 card m-3 w-35 h-30">
                <img src="/images/indore.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Indore</h5>
                    <a  th:href="@{/indore}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class="col-2 card m-3 w-35 h-30">
                <img src="/images/nagpur.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nagpur</h5>
                    <a th:href="@{/nagpur}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class=" col-2 card m-3 w-35 h-30">
                <img src="/images/rajkot.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rajkot</h5>
                    <a  th:href="@{/rajkot}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
            <div class="col-2 card m-3 w-35 h-30">
                <img src="/images/thane.webp" height="50%" width="50%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Thane</h5>
                    <a  th:href="@{/thane}"> <button type="button" class="btn btn-outline-info">click here</button></a>
                </div>
            </div>
    </div>
    </div>



</div>

