<div>
    <h1>
        Nagpur
    </h1>
    <img src="/images/nagpur.webp">
    <br>
    <hr>

    <p class="text-start m-5">The city has taken first place among the top 10 smart cities in India by applying a smart traffic management system. Traffic management has been given to traffic police which increases road safety and reduces traffic congestion. The smart traffic management system includes 5 phases.

        Phase 1- Smart street lighting control, by Bharat Grid.

        Phase 2- Road safety management.

        Phase 3- Parking management through pay & display parking meters.

        Phase 4- Traffic management plan to keep roads free from jams.

        Phase 5- Automatic garbage collection system which is supported by autonomous garbage vehicles.

        The city has also taken the first position in India on the road safety index, which is by using IoT (Internet of Things).</p>
    <div> <a th:href="@{/}" class="btn btn-outline-dark btn-rounded btn-sm m-3" >go back</a></div>
</div>