<div>
    <h1>
        Pune
    </h1>
    <img src="/images/pune.webp">
    <br>
    <hr>

    <p class="text-start m-5">The city of Pune is known for its new ideas, modernization, and better living conditions.
        It is near more than 100 schools and universities.
        Because it’s so big, it is India’s 7th largest city.
        It has the highest sex ratio in the country.
        Kondhwa is also home to a temple of Shivaji that is one of the largest in the world.
        The city also spends a lot of money on infrastructure projects, which boosts the economy and makes the city more environmentally friendly.</p>
    <div> <a th:href="@{/}" class="btn btn-outline-dark btn-rounded btn-sm m-3" >go back</a></div>
</div>